@use '../../styles/mixins/typography'
@use '../../styles/mixins/scrolling'
@use '../../styles/mixins/spacing'

$min-d-w: min-device-width
$max-d-w: max-device-width

// Page transition styles
.fadeIn
  transition-timing-function: ease-in
  opacity: 1

.fadeOut
  transition-timing-function: ease-out
  opacity: 0

// Styling for all viewports
.new
  transition: opacity 0.3s

  & > nav > button
    padding: 0
    background: none
    border: none
    font-weight: 700
    cursor: pointer
    display: flex
    align-items: center
    column-gap: 15px

    &::before
      content: url('/assets/icons/icon-arrow-left.svg')
      width: 5px
      height: 100%
      display: inline-block

  & > form
    border-radius: 10px
    background-color: var(--white)
    position: relative

    &::before
      content: url('/assets/icons/icon-new-feedback.svg')
      display: inline-block
      width: var(--size)
      height: var(--size)
      position: absolute
      top: calc(calc(var(--size) / 2) * -1)

    & > fieldset
      border: none
      padding: 0

      & > label
        @include typography.heading-smallest(--dark-blue)

      & > p
        @include typography.body-3(--grayish-blue)
        font-weight: 400
        margin: 3px 0 16px

    & > div[role='presentation']
      display: flex

// Mobile styles
@media only screen and ($max-d-w: 425px)

  .new
    padding: 34px 24px 77px

    & > nav
      margin: 0 0 55px 0

      & > button
        @include typography.body-3(--grayish-blue)

    & > form
      padding: 44px 24px 24px

      &::before
        --size: 40px

      & > h1
        @include typography.heading-small(--dark-blue)
        margin: 0 0 24px

      & > fieldset

        & > label
          font-size: 13px
          line-height: 19px

      & > div[role='presentation']
        margin: 16px 0px 0px 0px
        flex-direction: column
        row-gap: 16px

// Tablet styles
@media only screen and ($min-d-w: 426px)

  .new
    --total-width: 540px
    --margin-y: 56px
    width: var(--total-width)
    @include spacing.side-spacing(24px)
    margin: var(--margin-y) var(--side-spacing) var(--margin-y)

    & > nav
      margin: 0 0 68px 0

      & > button
        @include typography.heading-smallest(--grayish-blue)
        letter-spacing: 0

    & > form
      padding: 52px 42px 40px

      &::before
        --size: 56px

      & > h1
        @include typography.heading-biggest(--dark-blue)
        margin: 0 0 40px

      & > fieldset

        & > p
          font-size: 14px
          line-height: 20.23px
          margin: 2px 0 16px

      & > div[role='presentation']
        margin: 12px 0px 0px 0px
        justify-content: flex-end
        column-gap: 16px

        & > button[type='reset']
          order: 1

        & > button[type='submit']
          order: 2

// Breaking point in the layout
@media only screen and ($max-d-w: 588px)

  .new
    width: auto

// Desktop styles
@media only screen and ($min-d-w: 769px)

  .new
    --margin-y: 92px
